body{
	background-color: ECF2FF;
	color: 393053;
	font-family: helvetica;

}
h1{
    font-size: 40px;
    font-family: 'Gloock', serif;
    letter-spacing: 6;
    color: darkorange;
}


h2{
	color: springgreen;



}


a{
	font-family: 'Gloock', serif;
	text-decoration: none;
	color: black;

}

a:hover{

	color: white;
	font-weight: bolder;
}

img {
height:250;
}



/* Design with classes */
.container {
  width: 700px; 
  margin: 40px auto;
}



@media (max-width: 760px) {
  .container {
    width: 600px;
  }
}
@media (max-width: 500px) {
  .container {
    width: 400px;
  }
}




.box-white{
	background-color: white;
	padding: 30px;  
	box-shadow: 0 10px 30px rgba(0,0,0,.2);
	border-radius: 20px; 
	margin: 30px;
	text-align: center;
	padding-top: 7px;
}

.img-circle{
	border-radius: 30px;
}

.btn-blue{
	background-color: lightgrey;
	padding: 10px;
	border-radius: 20px;
}

.btn-blue:hover {
	background-color: black;
	border-radius: 40px;

}


.list-inline {
  list-style: none;
  padding-left: 0px;
}
.list-inline li {
  display: inline; 
  padding: 0px 20px;
}
.list-inline i {
	font-size: 50px;
}

.list-inline i:hover {
	color: deeppink;
}

#intro p{
	margin-bottom: 20px;
}